@import "tailwindcss";

@theme {
  --font-titanOne-regular: TitanOne-Regular, sans-serif;
  --color-darkestBlue: #001D4A;
  --color-darkerBlue: #003281;
  --color-darkBlue: #0047B5;
  --color-blue: #005FF2;
  --color-babyBlue: #406AFE;
  --color-darkTeal: #186198;
  --color-clearBlue: #40A4CC;
}

.heading {
  font-family: var(--font-titanOne);
}

.underlineText {
  position: relative;

  text-decoration: none;
  padding-bottom: 4px;
}

.underlineText::after {
  content: '';
  position: absolute;

  bottom: 0;
  left: 0;

  height: 2px;
  background-color: #ffffff;
  width: 0;
  transition: 0.4s ease-out
}

.underlineText:hover::after {
  width: 100%;
}