@import "tailwindcss";

@font-face {
  font-family: TitanOne-Regular;
  src: url("../src/assets/fonts/TitanOne-Regular.ttf");
}

@theme {
  --font-titanOne-regular: TitanOne-Regular, sans-serif;
  --color-darkestBlue: #001D4A;
  --color-darkerBlue: #003281;
  --color-darkBlue: #0047B5;
  --color-blue: #005FF2;
  --color-babyBlue: #406AFE;
  --color-darkTeal: #186198;
  --color-clearBlue: #40A4CC;
}

heading {
  font-family: 'TitanOne-Regular';
}

underlineText {
  position: relative;

  text-decoration: none;
  padding-bottom: 4px;
}

underlineText::after {
  content: '';
  position: absolute;

  bottom: 0;
  left: 0;

  height: 2px;
  background-color: #ffffff;
  width: 0;
  transition: 0.4s ease-out
}

underlineText:hover::after {
  width: 100%;
}

li {
  list-style-type: disc;
  padding-left: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition-duration: 1s;
}
button:hover {
  border-color: #646cff;
  scale: 2;
}
button:focus,
button:focus-visible {
  outline: 15px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

